* {
    margin: 0px;
    padding: 0px;
}

table {
    padding-top: 70px;
    padding-left: 350px;
    color: white;
    font-size: 100px;
}

nav {
    background-color: black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    margin: 0 auto;
}

nav ul {
    display: table;
    width: 100%;
    padding-top: 10px;
}

nav ul li {
    display: table-cell;
    width: 10%;
    height: 4vh;
}

nav ul li a {
    display: block;
    text-align: center;
    height: 40%;
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    background-color: grey;
    color: white;
    height: 70%;
    border-radius: 20px;
}

td {
    width: 200px;
    height: 150px;
}

.adcen {
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.midiz {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.midmid {
    border: 2px solid black;
}

.midder {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.abaiz {
    border-top: 2px solid white;
}

.abamid {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.abader {
    border-top: 2px solid white;
}


i {
    color: lightgrey;
    align-items: flex-end;
}